# Ziina Payment Gateway API Key
ZIINA_API_KEY=WQq2Jrqt1L/dKZPsGKHpGnHY4541IPkRSdKMGUh9OLk57UWHidf1FF4/LMiSPlJL

# Optional App URL (Automatically resolved on Vercel)
NEXT_PUBLIC_APP_URL=https://innercircle.vercel.app
